:root {
    --Purple100: hsl(254, 88%, 90%);
    --Purple500: hsl(256, 67%, 59%);
    --Yellow100: hsl(31, 66%, 93%);
    --Yellow500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);
    --background: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    background-color: var(--background);
}

.container {
    margin: 5rem auto;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
   
}

.social-media {
    grid-row: 1/3;
    grid-column: 2/4;
    background-color: var(--Purple500);
    border-radius: 15px;
    height: 70%;
    width: 85%;

}

.social-media h2 {
    font-size: 120px;
    text-align: center;
    width: 70%;
    color: var(--White);
    font-weight: 500;
    margin-top: 6rem;
}
.social-media h2 span{
    color: var(--Yellow500);
}
.social-media .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-media img{
    margin-top: 25px;
}
.social-media p{
    color: var(--White);
    font-size: 40px;
    margin-top: 20px;
    font-weight: 300;
}

.manage {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: var(--White);
    border-radius: 15px;
    width: 80%;
    height: 115%;
    margin-top: -15rem;
    margin-left: 10px;
    overflow: hidden;
}
.manage img{
    margin-left: 30px;
    margin-top: 20px;
}
.manage h2{
    width: 75%;
    font-size: 65px;
    margin-left: 45px;
    line-height: 0.9;
    font-weight: 600;
    margin-top: 1rem;
}
.maintain {
    grid-row: 3/4;
    grid-column: 3/4;
    width: 80%;
    height: 115%;
    margin-top: -15rem;
    margin-left: -4rem;
    border-radius: 15px;
    background-color: var(--Yellow500);
    overflow: hidden;
}
.maintain h2{
    width: 75%;
    font-size: 65px;
    margin-left: 45px;
    line-height: 0.9;
    font-weight: 600;
    margin-top: 4rem;
}
.maintain img{
    margin-top: 2rem;
    margin-left: 3rem;
    width: 470px;

}

.schedule-social-media {
    grid-row: 1/4;
    grid-column: 4/5;
    width: 75%;
    height: 90%;
    margin-left: -9rem;
    background-color: var(--Purple100);
    border-radius: 15px;
    overflow: hidden;
}
.schedule-social-media img{
    margin-top: 3rem;
    margin-left: 4rem;
    width: 750px;
}
.schedule-social-media h2{
    font-size: 68px;
    width: 80%;
    font-weight: 600;
    line-height: 0.9;
    margin-top: 6rem;
    margin-left: 4rem;
}
.schedule-social-media p{
    font-size: 38px;
    width: 80%;
    text-align: left;
    margin-left: 4rem;
    margin-top: 1rem;
}

.grow-followers {
    grid-row: 4/5;
    grid-column: 3/5;
    width: 82%;
    height: 115%;
    margin-top: -8rem;
    margin-left: -4rem;
    background-color: var(--Purple500);
    border-radius: 15px;

}
.grow-followers .align{
    display: flex;
    flex-direction: row;
}
.grow-followers img{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 500px;
}
.grow-followers h2{
    font-size: 65px;
    width: 45%;
    text-align: left;
    margin-top: 8rem;
    color: var(--White);
    line-height: 0.9;
    font-weight: 500;
}

.percent {
    grid-row: 4/5;
    grid-column: 2/3;
    width: 80%;
    height: 115%;
    margin-top: -8rem;
    border-radius: 15px;
    background-color: var(--White);
}
.percent h2{
    font-size: 120px;
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: 500;
}
.percent p{
    font-size: 40px;
    margin-left: 2rem;
}
.percent img{
    margin-top: 4rem;
    margin-left: 2rem;
}

.create {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: var(--Yellow100);
    border-radius: 15px;
    width: 80%;
    height: 95%;
    margin-left: 5rem;
}

.create h2 {
    font-size: 80px;
    width: 80%;
    margin-top: 10rem;
    margin-left: 5rem;
    line-height: 0.9;
    text-align: left;
}

.create h2 span {
    color: var(--Purple500);
    font-style: italic;
    font-weight: 500;
}

.create img {
    margin-top: 2rem;
    margin-left: 6rem;
}

.write {
    grid-row: 3/5;
    grid-column: 1/2;
    width: 80%;
    height: 95%;
    margin-left: 5rem;
    border-radius: 15px;
    background-color: var(--Yellow500);
}
.write h2{
    font-size: 70px;
    width: 70%;
    text-align: left;
    font-weight: 600;
    margin-left: 3rem;
    margin-top: 3rem;
    line-height: 0.9;
}
.write img{
    margin-left: 3rem;
    margin-top: 6rem;
    width: 500px;
}